html {
	background-color: rgb(16, 19, 22);
  align-content: center;
	overflow: hidden;
	height: 100vh;
}

video {
	max-height:100%;
  max-width: 100%;
	object-fit: contain;
	margin: auto;
	visibility: hidden;
  position: absolute;
	left: 50%;
	top: 50%;
	transform: translate( -50%, -50%);
	z-index: -1;
}

img {
  object-fit: contain;
	margin: auto;
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	transform: translate( -50%, -50%);
}

h1 {
	opacity: 0;
	color: white;
	font: normal 1rem sans-serif;
	height: max-content;
  padding: .1rem .4rem;
}

.show-headline {
	opacity: 1;
	background-color: rgba(0, 0, 0, .2);
}

#titlebar {
	display: flex;
	justify-content: center;
	align-items: center;
	height:22px;
  width: 100vw;
	margin: 0;
	left: 0;
	top: 0;
  position: absolute;
	z-index: 2;
	user-select: none;
	-webkit-app-region: drag;
}

#titlebar.windows {
	height: 30px;
}

#win-titlebar-btn-container {
	-webkit-app-region: no-drag;
	display: flex;
	visibility: hidden;
	position: fixed;
	top: 0px;
	right: 0px;
}

#close-btn {
	background: rgb(199, 13, 0);
	color: white;
}

#max-btn, #min-btn {
	background: none;
	color: rgb(255, 255, 255);
}

:focus {
	outline: none;
}

#close-btn:hover {
	background: rgb(255, 17, 0);
}

#min-btn:hover, #max-btn:hover {
	background: rgb(236, 236, 236);
	color: rgb(36, 36, 36);
}

.win-titlebar-btn {
	height: 30px;
	width: 30px;
	border-style: none;
}
