body {
    background-color: rgb(33, 37, 43);
    align-content: center;
    overflow: hidden;
    height: 100vh; /* initial height*/
}

#holder {
    height:100%;
    width: 100%;
    margin: auto;
    background: no-repeat center/contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}