body {
    background-color: rgb(33, 37, 43);
    align-content: center;
    overflow: hidden;
    height: 100vh;
}

#id {
    height:90%;
    width: 90%;
    object-fit: contain;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#holder {
    height:90%;
    width: 90%;
    margin: auto;
    background: no-repeat center/contain;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

